.shadow-green {
    text-shadow: 3px 3px 0 #68D391;
}

.shadow-blue {
    text-shadow: 3px 3px 0 #62B2ED;
}

.shadow-pink {
    text-shadow: 3px 3px 0 #F687B3;
}

.shadow-orange {
    text-shadow: 3px 3px 0 #F89344;
}