.underline-green {
    text-decoration: underline wavy #68D391 2px;
}

.underline-blue {
    text-decoration: underline wavy #62B2ED 2px;
}

.underline-pink {
    text-decoration: underline wavy #F687B3 2px;
}

.underline-orange {
    text-decoration: underline wavy #F89344 2px;
}